strong {
    font: bolder;
}
em {
    color: red;
}
h1 {
    color: yellowgreen;
}
.class_A {
    color: teal;
}
.b {
    color: red;
}
.a {
    font-size: 16px;
}
.my-color {
    color: red;
}


@media (min-width:768px) {
.my_title{
    font-size: 60px
    }
}

@media(max-width::768px) {
.my_title{
    font-size: 20px
    }
}